<div class="row">
    <div class="col">
      <h1>XAuftrag</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="form-inline">
        <div class="form-group">
          <label for="guid" style="width: 220px;">GUID:</label>
          <input type="text" class="form-control" id="guid" [(ngModel)]="inp" [ngModelOptions]="{standalone: true}" placeholder="GUID, KDNR, TO-NR"
            style="width: 420px;">
          <button type="button" class="btn btn-default" (click)="getXHisAuftragList()">Suchen</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>My Bestand</h2>
      <ul class="list-group">
        <li *ngFor="let a of XHisAuftrag_list" 
              class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="a === selected_XHisAuftrag"
              (click)="onSelect(a)">
          <a routerLink="/account/{{a.id}}">
            <span class="badge badge-primary badge-pill">{{a.id}}</span> Ext:{{a.EO_ID}}, Int:{{a.SO_ID}}
          </a>
        </li>
      </ul>
      <div *ngIf="selected_XHisAuftrag"> {{selected_XHisAuftrag.id}} </div>
    </div>
    <!--
    <div class="col">
      <app-account-detail [XHisAuftrag]="selected_XHisAuftrag"></app-account-detail>
    </div>
  -->
  </div>