<p>
  katalog works!
</p>
<!-- Header -->
<div class="row">
  <div class="col-md-12">
    <h1 class="sr-only" id="catalog">Produktkatalog</h1>
  </div>
</div>
<!-- Suchfeld -->
<div class="row">
  <div class="col-md-4">
    <app-katalog-suche></app-katalog-suche>
  </div>
  <div class="col-md-4">

  </div>
</div>

<!-- Liste + Details -->
<div class="row" style="margin-top:1.5em">
  <!-- Liste -->
  <div class="col-md-8">
    <app-katalog-liste></app-katalog-liste>
  </div>

  <!-- Details -->
  <div class="col-md-4">
    <app-katalog-detail></app-katalog-detail>
    <app-katalog-edit></app-katalog-edit>
    <app-katalog-reload></app-katalog-reload>
  </div>
</div>
