<div class="container-fluid" role="main" aria-labelledBy="order" id="content">

    <div class="row">
      <div class="col">
        <p>
          katalog works!
        </p>
  
      </div>
    </div>
  
    <form class="form-inline">
      <div class="form-group mx-4">
          <label class="sr-only" for="TONR">TONR</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="TONR" placeholder="TONR">
      </div>
      <div class="form-group mx-4">
          <label class="my-1 mr-2" for="SLUP">SLUP</label>
          <select class="custom-select my-1 mr-sm-2" id="SLUP">
            <option selected>...</option>
            <option value="1">PWS</option>
            <option value="2">IMS</option>
          </select>
              </div>
      <div class="form-group mx-4 ">
        <label class="sr-only" for="ResyncHN">Resync HN </label>
        <button type="submit" class="btn" id="ResyncHN">Resync HN</button>
      </div>
      <div class="form-group mx-4 ">
        <label class="sr-only" for="ResyncINID">Resync INID </label>
        <button type="submit" class="btn" id="ResyncINID">Resync INID</button>
      </div>
    </form>
  </div>