<div class="row">
  <div class="col">
    <h1>Produkt</h1>
  </div>
</div>
<form>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="EM-Matno">EM-Matno</label>
        <input type="text" class="form-control" id="EM-Matno" placeholder="EM-Matno">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Bezeichnung">Bezeichnung</label>
        <input type="text" class="form-control" id="Bezeichnung" placeholder="Bezeichnung">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="Action">&nbsp;</label>
        <button type="submit" class="form-control btn btn-primary" id="Action">Submit</button>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <h1>...</h1>
  </div>
</div>