<p>
  katalog-liste works!
</p>
<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Katalog</h3>
        </div>
        <div class="panel-body">
          <table class="table table-condensed table-hover">
            <caption class="sr-only">Fehler</caption>
            <thead>
              <tr>
                <th id="catalog-em-th">
                  <a class="sort-toggle" href="#">
                    <span class="caption">EM-MatNo</span>
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                      <!--  -->
                    </span>
                    <span class="sr-only">Absteigend sortieren</span>
                  </a>
                </th>
                <th id="catalog-title-th">
                  <a class="sort-toggle active" href="#" id="catalog-title">
                    <span class="caption">EM-Bezeichnung</span>
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                      <!--  -->
                    </span>

                    <span class="sr-only">Aufsteigend sortieren</span>
                  </a>
                </th>
                <th id="catalog-title-th">
                  <a class="sort-toggle active" href="#" id="catalog-title">
                    <span class="caption">last Update</span>
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                      <!--  -->
                    </span>

                    <span class="sr-only">Aufsteigend sortieren</span>
                  </a>
                </th>
                <th id="catalog-em-th">
                  <a class="sort-toggle" href="#">
                    <span class="caption">MP-MatNo</span>
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                      <!--  -->
                    </span>
                    <span class="sr-only">Absteigend sortieren</span>
                  </a>
                </th>
                <th id="catalog-title-th">
                  <a class="sort-toggle active" href="#" id="catalog-title">
                    <span class="caption">MP-Bezeichnung</span>
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                      <!--  -->
                    </span>

                    <span class="sr-only">Aufsteigend sortieren</span>
                  </a>
                </th>

              </tr>
            </thead>
            <tbody>
              <tr onclick="$('#collapseKatalogDetail').collapse('toggle');">
                <td>88218283</td>
                <td>EM_CountryFlat_IP_2</td>
                <td>2017-01-01</td>
                <td>89756047</td>
                <td>CountryFlat IP2</td>
              </tr>
              <tr>
                <td>88218284</td>
                <td>EM_CountryFlat_IP_1_4</td>
                <td>2017-01-01</td>
                <td>89756046</td>
                <td>CountryFlat IP (1.4)</td>
              </tr>
              <tr>
                <td>88218285</td>
                <td>EM_CountryFlat_IP_2_4</td>
                <td>2017-01-01</td>
                <td>89756048</td>
                <td>CountryFlat IP (2.4)</td>
              </tr>
              <tr>
                <td>88218286</td>
                <td>EM_Festnetz_zu Mobil_IP</td>
                <td>2017-01-01</td>
                <td>89756044</td>
                <td>Festnetz zu Mobil IP</td>
              </tr>
              <tr>
                <td>88218314</td>
                <td>ISP- Entertain Comfort Plus 4 V-EM Flat</td>
                <td>2017-01-01</td>
                <td>89743064</td>
                <td>Entertain Comfort Plus (4) DSL</td>
              </tr>
              <tr>
                <td>88218333</td>
                <td>ISP- Entertain Comfort Plus IP 4 V-EM Fl</td>
                <td>2017-01-01</td>
                <td>89743530</td>
                <td>Entertain Comfort 12 IP (4) DSL</td>
              </tr>
              <tr>
                <td>88218338</td>
                <td>HomepagePlus FKTs Speicherpl.&Transferv.</td>
                <td>2017-01-01</td>
                <td>89711418</td>
                <td>Homepage Plus</td>
              </tr>
              <tr class="danger">
                <td>88218339</td>
                <td>ISP-Tarif Entertain Prem. IP (4) VEM Fla</td>
                <td>2017-01-01</td>
                <td>89743531</td>
                <td>Entertain Premium IP (4) DSL</td>
              </tr>
              <tr>
                <td>88218345</td>
                <td>ISP-Tarif Try&buy Ent.Comf. 4 V-EM Flat</td>
                <td>2017-01-01</td>
                <td>89743532</td>
                <td>Try & Buy Entertain Comfort DSL</td>
              </tr>
              <tr>
                <td>88218357</td>
                <td>ISP-Tarif Call & Surf VDSL+ V-EM Flat</td>
                <td>2017-01-01</td>
                <td>89743534</td>
                <td>Surf Comfort Plus VDSL 25</td>
              </tr>
              <tr>
                <td>88218371</td>
                <td>EM_Zusatzsp_MS_Exchange_Business</td>
                <td>2017-01-01</td>
                <td>89746282</td>
                <td>MS Exchange Business + Zusatzspeicher</td>
              </tr>
              <tr>
                <td>88218372</td>
                <td>EM_Zusatzsp_MS_Exchange_Premium</td>
                <td>2017-01-01</td>
                <td>89746283</td>
                <td>MS Exchange Premium + Zusatzspeicher</td>
              </tr>
              <tr>
                <td>88218373</td>
                <td>EM_Zusatzsp_MS_Exchange_Premium_BB</td>
                <td>2017-01-01</td>
                <td>89746284</td>
                <td>Exch.Premium BlackBerry + Zusatzspeicher</td>
              </tr>
              <tr>
                <td>88218463</td>
                <td>EM_LIGA total Aktion</td>
                <td>2017-01-01</td>
                <td>89757023</td>
                <td>Sky Bundesliga-Paket Aktion</td>
              </tr>
              <tr>
                <td>88218464</td>
                <td>EM_LIGA total HD Aktion</td>
                <td>2017-01-01</td>
                <td>89757024</td>
                <td>Sky Bundesliga-Paket + Sky HD Aktion</td>
              </tr>
              <tr>
                <td>88218465</td>
                <td>EM_BVB total!</td>
                <td>2017-01-01</td>
                <td>89753436</td>
                <td>BVB total!</td>
              </tr>
              <tr>
                <td>88218479</td>
                <td>EM_De-Domain</td>
                <td>2017-01-01</td>
                <td>89753279</td>
                <td>de-Domain</td>
              </tr>
              <tr>
                <td>88218480</td>
                <td>EM_Internationale-Domain</td>
                <td>2017-01-01</td>
                <td>89753280</td>
                <td>Internationale Domain</td>
              </tr>
              <tr>
                <td>88218496</td>
                <td>EM_Sperre Zusatzdienste</td>
                <td>2017-01-01</td>
                <td>89753516</td>
                <td>Sperre Zusatzdienste</td>
              </tr>
              <tr>
                <td>88218501</td>
                <td>EM_ISPX Call & Surf Comfort Plus 4 (RF)</td>
                <td>2017-01-01</td>
                <td>89753847</td>
                <td>Z_Surf Comfort Plus (4)</td>
              </tr>
              <tr>
                <td>88218503</td>
                <td>EM_ISPX_C&S Comfort 4 (RF)</td>
                <td>2017-01-01</td>
                <td>89753842</td>
                <td>Z_Surf Comfort (4)</td>
              </tr>
              <tr>
                <td>88218509</td>
                <td>EM_MS_Ex_Standard_Jahrespreis</td>
                <td>2017-01-01</td>
                <td>89753969</td>
                <td>Microsoft Exchange Standard Jahrespaket</td>
              </tr>
              <tr>
                <td>88218510</td>
                <td>EM_MS_Ex_Premium_Jahrespreis</td>
                <td>2017-01-01</td>
                <td>89753968</td>
                <td>Microsoft Exchange Premium Jahrespaket</td>
              </tr>
              <tr>
                <td>88218511</td>
                <td>EM_MS_Ex_Premium_BB_Jahrespreis</td>
                <td>2017-01-01</td>
                <td>89753967</td>
                <td>MS Exch. Premium BlackBerry Jahrespaket</td>
              </tr>
              <tr>
                <td>88218512</td>
                <td>EM_VoIP_Basistarif</td>
                <td>2017-01-01</td>
                <td>89753887</td>
                <td>VoIP Basistarif</td>
              </tr>

            </tbody>


          </table>
          <div class="col-md-6">
            <div id="size-lbl" class="control-label">Anzahl pro Seite</div>
            <div class="btn-toolbar" aria-labelledby="size-lbl" role="toolbar">
              <div class="btn-group">
                <a class="btn btn-default active" href="#">25</a>
                <a class="btn btn-default" href="#">50</a>
                <a class="btn btn-default" href="#">100</a>
              </div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-5">
            <div class="sr-only" id="pagination-lbl">Seitennavigation</div>
            <ul class="pagination pull-right" aria-labelledby="pagination-lbl">

              <!-- vorherige seite -->
              <li title="Vorherige Seite" class="disabled">
                <a href="">
                  <span class="sr-only"> Vorherige Seite</span>
                </a>
              </li>

              <!-- Seite 1 -->
              <li title="1 Seite" class="active">
                <a data-toggle="collapse" href="#collapseKatalogDetail" aria-expanded="false" aria-controls="collapseKatalogDetail">
                  <span class="sr-only">Seite</span>
                  <span>1</span>
                </a>
              </li>

              <!-- Abgrenzung Unten-->


              <!-- zwische seiten -->
              <li>
                <a data-toggle="collapse" href="#collapseKatalogDetail" aria-expanded="false" aria-controls="collapseKatalogDetail">
                  <span class="sr-only">Seite</span>
                  <span>2</span>
                </a>
              </li>
              <li>
                <a data-toggle="collapse" href="#collapseKatalogDetail" aria-expanded="false" aria-controls="collapseKatalogDetail">
                  <span class="sr-only">Seite</span>
                  <span>3</span>
                </a>
              </li>



              <!-- Abgrenzung Oben-->
              <li>
                <a>...</a>
              </li>

              <!-- letzte seite -->
              <li>
                <a data-toggle="collapse" href="#collapseKatalogDetail" aria-expanded="false" aria-controls="collapseKatalogDetail">50</a>
              </li>

              <!-- nächste seite -->
              <li title="Nächste Seite">
                <a href="">
                  <span class="sr-only">Nächste Seite </span>»</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
 