<p>
  katalog-detail works!
</p>
<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Katalogdetails</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-10">
              <h3 id="title">ABGEMANAGED_EM_WEBKONFERENZ</h3>
            </div>
          </div>

          <!-- Attribute -->
          <div class="row">
            <div class="col-md-12">
              <dl class="dl-horizontal dl-horizontal-left dl-horizontal-gap-lg">
                <dt id="catalog-em-dt">ID</dt>
                <dd aria-labelledby="catalog-em-dt">88218247</dd>

                <dt id="catalog-type-dt">Typ</dt>
                <dd aria-labelledby="catalog-type-dt">Premium Service</dd>

                <dt id="catalog-inid-dt">INID-Typ</dt>
                <dd aria-labelledby="catalog-inid-dt">keine INID</dd>

                <dt id="catalog-requires-ik-dt">Benötigt Instanzkenner</dt>
                <dd aria-labelledby="catalog-requires-ik-dt">Nein</dd>

                <dt id="catalog-multiple-inids-allowed-dt">Mehrere INIDs erlaubt</dt>
                <dd aria-labelledby="catalog-multiple-inids-allowed-dt">Nein</dd>

                <dt id="catalog-keep-alive-dt">Keep-Alive</dt>
                <dd aria-labelledby="catalog-keep-alive-dt">Nein</dd>

                <dt id="catalog-keep-alive-dt">last Update</dt>
                <dd aria-labelledby="catalog-keep-alive-dt">2017-07-02</dd>
              </dl>
              <dl class="dl-horizontal dl-horizontal-left dl-horizontal-gap-lg">
                <dt id="catalog-rules-dt">Regeln</dt>
                <dd aria-labelledby="catalog-rules-dt">
                  <ul class="list-unstyled">
                    <li>(76) AutoRemove bei ISPWegf erlaubt</li>
                  </ul>
                </dd>
              </dl>
            </div>

          </div>
        </div>
      </div>
 