<div class="row">
  <div class="col">
    <h1>Sofortnutzung Liste</h1>
  </div>
</div>
<form>
  <div class="row">

    <div class="col-4" aria-placeholder="xxx">
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="Hochladen">&nbsp;</label>
        <button type="submit" class=" btn  btn-primary" id="Hochladen">Hochladen</button>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="Export">&nbsp;</label>
        <button type="submit" class=" btn  btn-primary" id="Export">Export</button>
      </div>
      <div class="form-group">

     
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Aktivierung setzten
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">undurchführbar</a>
                <a class="dropdown-item" href="#">wiederholen</a>
              </div>
            </div>
      </div>
      
      <div class="col">

        </div> 
    </div>
  </div>
</form>
<div class="row">
  <div class="col">

  </div>
</div>