<div class="row" style="background-color:rgb(224, 245, 220);">
    <!-- GUID, TO-Nr, KdNr, Status -->
    <div class="col">
      <p>
        xauftrag-detail works!
      </p>
    </div>
  </div>
  
  <div *ngIf="xAuftrag">
    <div class="row" style="background-color:rgb(224, 245, 220);">
      <!-- GUID, TO-Nr, KdNr, Status -->
      <div class="col">
  
        <dl class="grid">
            <dt id="EO_ID">EO_ID</dt>
            <dd role="defintion" aria-labelledBy="EO_ID">{{xAuftrag.EO_ID}}</dd>
    
            <dt id="EO_ID">SO_ID</dt>
            <dd role="defintion" aria-labelledBy="SO_ID">{{xAuftrag.SO_ID}}</dd>
    
            <dt id="SO_TYPE_ID">SO_TYPE_ID</dt>
            <dd role="defintion" aria-labelledBy="SO_TYPE_ID">{{xAuftrag.SO_TYPE_ID}}</dd>
    
            <dt id="STATUS">STATUS</dt>
            <dd role="defintion" aria-labelledBy="STATUS">{{xAuftrag.STATUS}}</dd>
    
            <dt id="TS_CREATED">TS_CREATED</dt>
            <dd role="defintion" aria-labelledBy="TS_CREATED">{{xAuftrag.TS_CREATED}}</dd>
    
            <dt id="TS_COMPLETED">TS_COMPLETED</dt>
            <dd role="defintion" aria-labelledBy="TS_COMPLETED">{{xAuftrag.TS_COMPLETED}}</dd>
            <dt id="TS_ABORTED">TS_ABORTED</dt>
            <dd role="defintion" aria-labelledBy="TS_ABORTED">{{xAuftrag.TS_ABORTED}}</dd>
            <dt id="TS_EXECUTED">TS_EXECUTED</dt>
            <dd role="defintion" aria-labelledBy="TS_EXECUTED">{{xAuftrag.TS_EXECUTED}}</dd>
            <dt id="TS_ROLLBACKED">TS_ROLLBACKED</dt>
            <dd role="defintion" aria-labelledBy="TS_ROLLBACKED">{{xAuftrag.TS_ROLLBACKED}}</dd>
            <dt id="TS_COMMITED">TS_COMMITED</dt>
            <dd role="defintion" aria-labelledBy="TS_COMMITED">{{xAuftrag.TS_COMMITED}}</dd>
    
            
        </dl>
      </div>
    </div>
  </div>