<div class="row">
  <div class="col">
    <h1>XAuftrag</h1>
  </div>
</div>
<!-- -->
<div class="row">
  <div class="col">
    <form class="form-inline">
      <div class="form-group">
        <label for="guid" style="width: 220px;">GUID:</label>
        <input type="text" class="form-control" id="guid" [(ngModel)]="inp" [ngModelOptions]="{standalone: true}" placeholder="GUID, KDNR, TO-NR"
          style="width: 420px;">
      </div>
    </form>
  </div>
</div>
<!-- Content -->
<div class="row">
  <!-- Tabs -->
  <div class="col-6">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="XHisAuftrag-tab" data-toggle="tab" href="#XHisAuftrag" role="tab" aria-controls="XHisAuftrag"
          aria-selected="true">XHisAuftrag</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="XAuftrag-tab" data-toggle="tab" href="#XAuftrag" role="tab" aria-controls="XAuftrag" aria-selected="false">XAuftrag</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="XAuftragExt-tab" data-toggle="tab" href="#XAuftragExt" role="tab" aria-controls="XAuftragExt" aria-selected="false">XAuftragExt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="XMessage-tab" data-toggle="tab" href="#XMessage" role="tab" aria-controls="XMessage" aria-selected="false">XMessage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="XError-tab" data-toggle="tab" href="#XError" role="tab" aria-controls="XError" aria-selected="false">XError</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- XHisAuftrag -->
      <div class="tab-pane fade show active" id="XHisAuftrag" role="tabpanel" aria-labelledby="XHisAuftrag-tab">XHisAuftrag...
        <div *ngIf="xHisAuftrag_selected"> {{xHisAuftrag_selected.SO_ID}} </div>
        <ul class="list-group">
          <li *ngFor="let a of xHisAuftrag_list" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="a === xHisAuftrag_selected"
            (click)="onSelectXHisAuftrag(a)">
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.ID}}
            </a>

            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.EO_ID}}
            </a>
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.SO_ID}}
            </a>
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.SO_TYPE_ID}}
            </a>
          </li>
        </ul>
      </div>

      <!-- XAuftrag -->
      <div class="tab-pane fade" id="XAuftrag" role="tabpanel" aria-labelledby="XAuftrag-tab">XAuftrag...{{inp}}
        <div *ngIf="xAuftrag_selected"> {{xAuftrag_selected.SO_ID}} </div>
        <ul class="list-group">
          <li *ngFor="let a of xAuftrag_list" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="a === xAuftrag_selected"
            (click)="onSelectXAuftrag(a)">
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.EO_ID}}
            </a>
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.SO_ID}}
            </a>
          </li>
        </ul>
      </div>

      <!-- XAuftragExt -->
      <div class="tab-pane fade" id="XAuftragExt" role="tabpanel" aria-labelledby="XAuftragExt-tab">XAuftragExt...
        <div *ngIf="xAuftragExt_selected"> {{xAuftragExt_selected.EO_ID}} </div>
        <ul class="list-group">
          <li *ngFor="let a of xAuftragExt_list" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="a === xAuftragExt_selected"
            (click)="onSelectXAuftragExt(a)">
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.EO_ID}}
            </a>
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.SO_ID}}
            </a>
          </li>
        </ul>
      </div>

      <!-- XMessage -->
      <div class="tab-pane fade" id="XMessage" role="tabpanel" aria-labelledby="XMessage-tab">XMessage...
        <div *ngIf="XMessage_selected">XMessage_selected: {{xMessage.ID}} </div>
        <ul class="list-group">
          <li *ngFor="let a of xMessage_list" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="a === xMessage_selected"
            (click)="onSelectXMessage(a)">
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.SERVICE}}
            </a>

            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.CONTEXT}}
            </a>
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.SO_ID}}
            </a>
          </li>
        </ul>
      </div>

      <!-- XError -->
      <div class="tab-pane fade" id="XError" role="tabpanel" aria-labelledby="XError-tab">XError...
        <div *ngIf="xError_selected"> {{xError_selected.ID}} </div>
        <ul class="list-group">
          <li *ngFor="let a of xError_list" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="a === xError_selected"
            (click)="onSelectXError(a)">
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.ID}}
            </a>
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.EO_ID}}
            </a>
            <a routerLink="/xauftrag/{{a.id}}">
              <span class="badge badge-primary badge-pill">{{a.id}}</span> {{a.SO_ID}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Details -->
  <div class="col-6">
    <app-xauftrag-his-detail [xHisAuftrag]="xHisAuftrag_selected"></app-xauftrag-his-detail>
    <app-xauftrag-detail [xAuftrag]="xAuftrag_selected"></app-xauftrag-detail>
    <app-xauftrag-ext-detail [xAuftragExt]="xAuftragExt_selected"></app-xauftrag-ext-detail>
    <app-xerror-detail [xError]="xError_selected"></app-xerror-detail>
    <app-xmessage-detail [xMessage]="xMessage_selected"></app-xmessage-detail>
  </div>
</div>
<!-- -->

<div class="row">
  <div class="col">
    ...
  </div>
  <!--
  -->


</div>