<div class="row">
  <div class="col">
    <h1>Sofortnutzung</h1>
  </div>
</div>
<form>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="EM-Matno">SN-Inkonsistenzen</label>
        <input type="text" class="form-control" id="EM-Matno" placeholder="EM-Matno">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Filter">Filter</label>
        <select id="Filter" class="form-control">
          <option>Alle</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="Action">&nbsp;</label>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Action">
              suchen nach
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">SN-Ref-Nummer</a>
              <a class="dropdown-item" href="#">TO-Nummer</a>
              <a class="dropdown-item" href="#">Status</a>
              <a class="dropdown-item" href="#">SN von</a>
              <a class="dropdown-item" href="#">SN bis</a>
              <a class="dropdown-item" href="#">offene SN</a>
            </div>
          </div>
 
      </div>
    </div>
    <div class="col">
    
    </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <h1>...</h1>
  </div>
</div>