<div class="row" style="background-color:rgb(245, 236, 220);">
  <!-- GUID, TO-Nr, KdNr, Status -->
  <div class="col">
    <p>
      xauftrag-his-detail works!
    </p>
  </div>
</div>

<div *ngIf="xHisAuftrag">
  <div class="row" style="background-color:rgb(245, 236, 220);">
    <!-- GUID, TO-Nr, KdNr, Status -->
    <div class="col">

      <dl class="grid">
        <dt id="EO_ID">EO_ID</dt>
        <dd role="defintion" aria-labelledBy="EO_ID">{{xHisAuftrag.EO_ID}}</dd>
        <dt id="ERROR_ID">ERROR_ID</dt>
        <dd role="defintion" aria-labelledBy="ERROR_ID">{{xHisAuftrag.ERROR_ID}}</dd>
        <dt id="ID">ID</dt>
        <dd role="defintion" aria-labelledBy="ID">{{xHisAuftrag.ID}}</dd>
        <dt id="KDNR">ID</dt>
        <dd role="defintion" aria-labelledBy="KDNR">{{xHisAuftrag.KDNR}}</dd>
        <dt id="ORDER_ID_BSSOE">ORDER_ID_BSSOE</dt>
        <dd role="definition" aria-labelledBy="ORDER_ID_BSSOE">{{xHisAuftrag.ORDER_ID_BSSOE}}</dd>
        <dt id="ORDER_ID_CRM">ORDER_ID_CRM</dt>
        <dd role="definition" aria-labelledBy="ORDER_ID_CRM">{{xHisAuftrag.ORDER_ID_CRM}}</dd>
        <dt id="ORDER_ID_DKK">ORDER_ID_DKK</dt>
        <dd role="definition" aria-labelledBy="ORDER_ID_DKK">{{xHisAuftrag.ORDER_ID_DKK}}</dd>
        <dt id="ORDER_ID_MISC">ORDER_ID_MISC</dt>
        <dd role="definition" aria-labelledBy="ORDER_ID_MISC">{{xHisAuftrag.ORDER_ID_MISC}}</dd>
        <dt id="ORDER_ID_SMF">ORDER_ID_SMF</dt>
        <dd role="definition" aria-labelledBy="ORDER_ID_SMF">{{xHisAuftrag.ORDER_ID_SMF}}</dd>
        <dt id="ORDER_ID_SNR">ORDER_ID_SNR</dt>
        <dd role="definition" aria-labelledBy="ORDER_ID_SNR">{{xHisAuftrag.ORDER_ID_SNR}}</dd>
        <dt id="SEQ_ID">SEQ_ID</dt>
        <dd role="defintion" aria-labelledBy="SEQ_ID">{{xHisAuftrag.SEQ_ID}}</dd>
        <dt id="SO_ID">SO_ID</dt>
        <dd role="defintion" aria-labelledBy="SO_ID">{{xHisAuftrag.SO_ID}}</dd>
        <dt id="STATUS">STATUS</dt>
        <dd role="defintion" aria-labelledBy="STATUS">{{xHisAuftrag.STATUS}}</dd>
        <dt id="TO_NR">TO_NR</dt>
        <dd role="defintion" aria-labelledBy="TO_NR">{{xHisAuftrag.TO_NR}}</dd>
        <dt id="TS_ABORTED">TS_ABORTED</dt>
        <dd role="defintion" aria-labelledBy="TS_ABORTED">{{xHisAuftrag.TS_ABORTED}}</dd>
        <dt id="TS_COMMITED">TS_COMMITED</dt>
        <dd role="defintion" aria-labelledBy="TS_COMMITED">{{xHisAuftrag.TS_COMMITED}}</dd>
        <dt id="TS_COMPLETED">TS_COMPLETED</dt>
        <dd role="defintion" aria-labelledBy="TS_COMPLETED">{{xHisAuftrag.TS_COMPLETED}}</dd>
        <dt id="TS_CREATED">TS_CREATED</dt>
        <dd role="defintion" aria-labelledBy="TS_CREATED">{{xHisAuftrag.TS_CREATED}}</dd>
        <dt id="TS_EXECUTED">TS_EXECUTED</dt>
        <dd role="defintion" aria-labelledBy="TS_EXECUTED">{{xHisAuftrag.TS_EXECUTED}}</dd>
        <dt id="TS_HISTORY">TS_ROLLBACKED</dt>
        <dd role="defintion" aria-labelledBy="TS_ROLLBACKED">{{xHisAuftrag.TS_ROLLBACKED}}</dd>
        <dt id="TS_SAVED">TS_SAVED</dt>
        <dd role="definition" aria-labelledBy="TS_SAVED">{{xHisAuftrag.TS_SAVED}}</dd>
        <dt id="URSPRUNGS_KWT">URSPRUNGS_KWT</dt>
        <dd role="definition" aria-labelledBy="URSPRUNGS_KWT">{{xHisAuftrag.URSPRUNGS_KWT}}</dd>
        <dt id="SO_TYPE_ID">SO_TYPE_ID</dt>
        <dd role="defintion" aria-labelledBy="SO_TYPE_ID">{{xHisAuftrag.SO_TYPE_ID}}</dd>


      </dl>
    </div>
  </div>
</div>