<div class="container-fluid" role="main" aria-labelledBy="order" id="content">

  <div class="row">
    <div class="col">
      <p>
        katalog works!
      </p>
      </div>
  </div>

  <form class="form-inline">
    <div class="form-group mx-4">
        <label class="btn btn-primary" for="my-file-selector">
            <input id="my-file-selector" type="file" style="display:none" 
            onchange="$('#upload-file-info').html(this.files[0].name)">
            Datei auswählen
        </label>
        <span class='label label-info' id="upload-file-info"></span>
      </div>
    <div class="form-group mx-4">
      <label class="sr-only" for="Upload">Upload </label>
      <button type="submit" class="btn" id="Upload">Upload CSV</button>
    </div>
    <div class="form-group mx-4 ">
      <label class="sr-only" for="Download">Download </label>
      <button type="submit" class="btn" id="Download">Download CSV</button>
    </div>
    <div class="form-group mx-4 ">
      <label class="sr-only" for="Import">Import </label>
      <button type="submit" class="btn" id="Import">Import Katalog</button>
    </div>
  </form>
</div>