<div class="row" style="background-color:rgb(245, 229, 220);">
    <!-- GUID, TO-Nr, KdNr, Status -->
    <div class="col">
      <p>
        xmessage-detail works!
      </p>
    </div>
  </div>
  
  <div *ngIf="xMessage">
    <div class="row" style="background-color:rgb(245, 229, 220);">
      <!-- GUID, TO-Nr, KdNr, Status -->
      <div class="col">
  
        <dl class="grid">

          <dt id="ID">ID</dt>
          <dd role="defintion" aria-labelledBy="ID">{{xMessage.ID}}</dd>

          <dt id="EO_ID">EO_ID</dt>
          <dd role="defintion" aria-labelledBy="EO_ID">{{xMessage.EO_ID}}</dd>

          <dt id="SO_ID">SO_ID</dt>
          <dd role="defintion" aria-labelledBy="SO_ID">{{xMessage.SO_ID}}</dd>

          <dt id="CORRELATION_ID">CORRELATION_ID</dt>
          <dd role="defintion" aria-labelledBy="CORRELATION_ID">{{xMessage.CORRELATION_ID}}</dd>

          <dt id="TS_CREATED">TS_CREATED</dt>
          <dd role="defintion" aria-labelledBy="TS_CREATED">{{xMessage.TS_CREATED}}</dd>

          <dt id="RL_ID">RL_ID</dt>
          <dd role="defintion" aria-labelledBy="RL_ID">{{xMessage.RL_ID}}</dd>

          <dt id="SERVICE">SERVICE</dt>
          <dd role="defintion" aria-labelledBy="SERVICE">{{xMessage.SERVICE}}</dd>

          <dt id="MESSAGE">MESSAGE</dt>
          <dd role="defintion" aria-labelledBy="MESSAGE">{{xMessage.MESSAGE}}</dd>

          <dt id="HIS_AUFTRAG_ID">HIS_AUFTRAG_ID</dt>
          <dd role="defintion" aria-labelledBy="HIS_AUFTRAG_ID">{{xMessage.HIS_AUFTRAG_ID}}</dd>

          <dt id="CONTEXT">CONTEXT</dt>
          <dd role="defintion" aria-labelledBy="CONTEXT">{{xMessage.CONTEXT}}</dd>

          <dt id="TS_SENT">TS_SENT</dt>
          <dd role="defintion" aria-labelledBy="TS_SENT">{{xMessage.TS_SENT}}</dd>


        </dl>
      </div>
    </div>
  </div>