<div class="container-fluid" role="main" aria-labelledBy="errors">
    <div class="row">
        <div class="col-md-12">
            <h1 class="sr-only" id="errors">Fehler</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sr-only">Filter</h2>
            <form id="content" action="/idma-callcenter/errors" method="get" role="search">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="order" class="control-label">Auftrag (XDM)</label>
                        <input type="text" name="eoId" id="order" class="form-control" required="required" maxlength="100" placeholder="Auftragsnummer eingeben"
                            value="XDM000000134206" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="state" class="control-label">Status</label>
                        <select id="state" name="filter" class="form-control">
                            <option value="ALL" selected="selected">Alle</option>
                            <option value="OPEN">Offen</option>
                            <option value="CLOSED">Abgeschlossen</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="code-int" class="control-label">Fehlercode</label>
                        <input type="text" name="errorCode" id="code-int" class="form-control" maxlength="10" value="" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="system" class="control-label">System</label>
                        <select id="system" name="system" class="form-control" placeholder="??errors.search.system.placeholder_de??">
                            <option value="" selected="selected">Alle</option>
                            <option value="IDMA">IDM-Adapter</option>
                            <option value="PSNT">PSNT</option>
                            <option value="ZPI">ZPI</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Filtern</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-grid">
                <caption class="sr-only">Fehler</caption>
                <thead>
                    <tr>
                        <th id="error-id-th">
                            <a class="sort-toggle active" href="/idma-callcenter/errors?sort=id%2CDESC&amp;filter=ALL&amp;system=&amp;eoId=XDM000000134206&amp;errorCode=#error-id"
                                id="error-id" autofocus="autofocus">
                                <span class="caption">ID</span>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                                    <!--  -->
                                </span>
                                <span class="sr-only">Absteigend sortieren</span>
                            </a>
                        </th>
                        <th id="error-code-int-th">
                            <a class="sort-toggle" id="error-code-int" href="/idma-callcenter/errors?sort=codeIntern%2CASC&amp;filter=ALL&amp;system=&amp;eoId=XDM000000134206&amp;errorCode=#error-code-int">
                                <span class="caption">Fehlercode</span>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                                    <!--  -->
                                </span>

                                <span class="sr-only">Aufsteigend sortieren</span>
                            </a>
                        </th>
                        <th id="error-task-th">
                            <a aria-hidden="true" class="sort-toggle" id="error-task" href="/idma-callcenter/errors?sort=task%2CASC&amp;filter=ALL&amp;system=&amp;eoId=XDM000000134206&amp;errorCode=#error-task">
                                <span class="caption">Task</span>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                                    <!--  -->
                                </span>

                                <span class="sr-only">Aufsteigend sortieren</span>
                            </a>
                        </th>
                        <th id="error-created-th">
                            <a aria-hidden="true" class="sort-toggle" id="error-created" href="/idma-callcenter/errors?sort=tsCreated%2CASC&amp;filter=ALL&amp;system=&amp;eoId=XDM000000134206&amp;errorCode=#error-created">
                                <span class="caption">Erzeugt</span>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                                    <!--  -->
                                </span>

                                <span class="sr-only">Aufsteigend sortieren</span>
                            </a>
                        </th>
                        <th id="error-closed-th">
                            <a aria-hidden="true" class="sort-toggle" id="error-closed" href="/idma-callcenter/errors?sort=tsClosed%2CASC&amp;filter=ALL&amp;system=&amp;eoId=XDM000000134206&amp;errorCode=#error-closed">
                                <span class="caption">Geschlossen</span>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                                    <!--  -->
                                </span>

                                <span class="sr-only">Aufsteigend sortieren</span>
                            </a>
                        </th>
                        <th id="error-system-th">
                            <a aria-hidden="true" class="sort-toggle" id="error-system" href="/idma-callcenter/errors?sort=system%2CASC&amp;filter=ALL&amp;system=&amp;eoId=XDM000000134206&amp;errorCode=#error-system">
                                <span class="caption">System</span>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
                                    <!--  -->
                                </span>

                                <span class="sr-only">Aufsteigend sortieren</span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="error-id-th">
                            <a href="/idma-callcenter/errors/117037">117037</a>
                        </td>
                        <td headers="error-code-int-th">5001</td>
                        <td headers="error-task-th">Nutzerzuordnung</td>
                        <td headers="error-created-th">7. Dezember 2017 15:57:07 MEZ</td>
                        <td headers="error-closed-th">7. Dezember 2017 15:57:07 MEZ</td>
                        <td headers="error-system-th">IDMA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-10">
            <h2>Nutzerzuordnung</h2>
        </div>
    </div>



          <!-- Nummern, Zeiten etc. -->
          <div class="row">
              <div class="col-md-4">
                  <dl class="dl-horizontal dl-horizontal-left grid">
                      <dt id="error-id-dt">ID</dt>
                      <dd aria-labelledBy="error-id-dt">117037</dd>
                      <dt id="error-system-dt">System</dt>
                      <dd aria-labelledBy="error-system-dt">IDMA</dd>
                      <dt id="error-order-ext-dt">Auftrag (extern)</dt>
                      <dd>
                          <a aria-labelledBy="error-order-ext-dt" href="/idma-callcenter/orders?query=XDM000000134206&amp;type=EXT">XDM000000134206</a>
                      </dd>
                      <dt id="error-order-dt">Auftrag (intern)</dt>
                      <dd>
                          <a aria-labelledBy="error-order-dt" href="/idma-callcenter/orders/IDM000000639878">IDM000000639878</a>
                      </dd>
                      <dt id="error-created-dt">Erzeugt</dt>
                      <dd aria-labelledBy="error-created-dt">7. Dezember 2017 15:57:07 MEZ</dd>
                      <dt id="error-closed-dt">Abgeschlossen</dt>
                      <dd aria-labelledBy="error-closed-dt">7. Dezember 2017 15:57:07 MEZ</dd>
                  </dl>
              </div>
          </div>
  
          <!-- Fehler intern -->
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title" id="error-int">Interne Fehlermeldung</h3>
                      </div>
                      <div class="panel-body">
                          <dl class="dl-horizontal dl-horizontal-left grid">
                              <dt id="error-int-code-dt">Fehlercode</dt>
                              <dd aria-labelledBy="error-int-code-dt">5001</dd>
                              <dt id="error-int-text-dt">Meldung</dt>
                              <dd aria-labelledBy="error-int-message-dt">Keine VoIP Instanz für guid &#39;100049016071215420200001&#39; im Bestand gefunden</dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
  
          <!-- Fehler extern -->
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title" id="error-ext">Externe Fehlermeldung</h3>
                      </div>
                      <div class="panel-body">
                          <dl class="dl-horizontal dl-horizontal-left grid">
                              <dt id="error-ext-code-dt">Fehlercode</dt>
                              <dd aria-labelledBy="error-ext-code-dt"></dd>
                              <dt id="error-ext-text-dt">Meldung</dt>
                              <dd aria-labelledBy="error-ext-message-dt"></dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
</div>