<div class="row">
  <div class="col">
    <h1>Account</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <form class="form-inline">
      <div class="form-group">
        <label for="guid" style="width: 220px;">GUID, KDNR, TO-NR:</label>
        <input type="text" class="form-control" id="guid" [(ngModel)]="inp" [ngModelOptions]="{standalone: true}" placeholder="GUID, KDNR, TO-NR"
          style="width: 420px;">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" (click)="getAccount()">All</button>
            <button type="button" class="btn btn-default" (click)="getAccount()">GUID</button>
            <button type="button" class="btn btn-default" (click)="getAccount()">KDNR</button>
            <button type="button" class="btn btn-default" (click)="getAccount()">TONR</button>
          </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="account">
  <div class="row" style="background-color:beige;">
    <!-- GUID, TO-Nr, KdNr, Status -->
    <div class="col">

      <dl class="grid">
        <dt id="guid">GUID</dt>
        <dd role="defintion" aria-labelledBy="guid">{{account.GUID}}</dd>

        <dt id="tonr">TO-Nummer</dt>
        <dd role="definition" aria-labelledBy="tonr">{{account.TO_NR}}</dd>

        <dt id="kdnr">Kundennummer</dt>
        <dd role="definition" aria-labelledBy="kdnr">{{account.KDNR}}</dd>

        <dt id="kdnra">Neu: --</dt>
        <dd role="definition" aria-labelledBy="kdnra">...</dd>
        <dt id="kdnrn">Alt: -- </dt>
        <dd role="definition" aria-labelledBy="kdnrn">...</dd>

        <dt id="status">Status</dt>
        <dd role="definition" aria-labelledBy="status">aktiviert</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <!-- Bestand -->
    <div class="col">
      <h2>aktiver Bestand</h2>
      <ul id="atabs" class="nav nav-tabs" data-tabs="atabs">
        <li class="nav-item active">
          <a class="nav-link" href="#em" data-toggle="tab">EM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rnr" data-toggle="tab">RNR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#spr" data-toggle="tab">SPR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#par" data-toggle="tab">PAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ins" data-toggle="tab">INS</a>
        </li>
      </ul>

      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="em">
          <ul class="list-group">
            <li *ngFor="let e of account.emlist" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="e === emselected"
              (click)="onSelect(e)">
              <a routerLink="/account/{{e.STOCK_ID}}">
                <span class="badge badge-primary badge-pill">{{e.STOCK_ID}}</span> {{e.EM_MATNO}}
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="par">
          <ul class="list-group">
            <li *ngFor="let p of account.parlist" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="p === account.parselected"
              (click)="onSelect(p)">
              <a routerLink="/account/{{p.STOCK_ID}}">
                <span class="badge badge-primary badge-pill">{{p.STOCK_ID}}</span> {{p.EM_MATNO}} , {{p.PARAM_ID}}
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="rnr">
          <ul class="list-group">
            <li *ngFor="let r of account.rnrlist" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="r === account.rnrselected"
              (click)="onSelect(r)">
              <a routerLink="/account/{{r.STOCK_ID}}">
                <span class="badge badge-primary badge-pill">{{r.STOCK_ID}}</span> {{r.INID}} , {{r.RN_STRUCT}}
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="spr">
          <ul class="list-group">
            <li *ngFor="let s of account.sprlist" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="s === account.sprselected"
              (click)="onSelect(s)">
              <a routerLink="/account/{{s.STOCK_ID}}">
                <span class="badge badge-primary badge-pill">{{s.STOCK_ID}}</span> {{s.EM_MATNO}}
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="ins">
          <ul class="list-group">
            <li *ngFor="let i of account.inslist" class="list-group-item d-flex justify-content-between align-items-center" [class.selected]="i === account.insselected"
              (click)="onSelect(i)">
              <a routerLink="/account/{{i.STOCK_ID}}">
                <span class="badge badge-primary badge-pill">{{i.STOCK_ID}}</span> {{i.EM_MATNO}} , {{i.INID}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>