<p>
  dashboard works!
</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...Home </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact...</div>
  </div>

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-block">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
  <div class="container-fluid">
    <div class="row " >

      <div class="col-xs-6 col-sm-3 collapse" id="sidebar" role="navigation">
        <div class="list-group">
          <a href="#" class="list-group-item active">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
        </div>
      </div><!--/span-->
      <div class="col-xs-12 col-sm-9 content">
        <p class="pull-left">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="sidebar">Toggle nav</button>
        </p>

        <div class="text-center">
          <h1>Bootstrap forms</h1>
          <p class="lead">Example of a form with 3 columns and labels aligned to the left of the 
            fields at &gt; 1200px (large) screen sizes, 2 columns and labels aligned to the left of the 
            fields at &gt;992px (medium) screen sizes, 2 columns labels above fields at &gt; 768px (small), and single 
            column at &lt; 768px (Extra small). 
          </p>
        </div>
        <form class="form-horizontal" role="form">
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="inputEmails1" class="col-md-4 control-label">Email:</label>
                <div class="col-md-8">
                  <input type="email" class="form-control" id="inputEmails1" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="inputPasswords1" class="col-md-4 control-label">Password:</label>
                <div class="col-md-8">
                  <input type="password" class="form-control" id="inputPasswords1" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="inputLabel3" class="col-md-4 control-label">Label 3:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="inputLabel3" placeholder="Label 3">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="inputLabel4" class="col-md-4 control-label">Label 4:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="inputLabel4" placeholder="Label 4">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="input5" class="col-md-4 control-label">1234567890:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="input5" placeholder="input 5">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="input6" class="col-md-4 control-label">123456789012:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="input6" placeholder="input 6">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="input7" class="col-md-4 control-label">12345678901234:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="input7" placeholder="input 7">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="input8" class="col-md-4 control-label">1234567890123456:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="input8" placeholder="input 8">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="input9" class="col-md-4 control-label">123456789012345678:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="input9" placeholder="input 9">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label for="input10" class="col-md-4 control-label">12345678901234567890:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="input10" placeholder="input 10">
                </div>
              </div>
            </div>
          </div><!-- /.row this actually does not appear to be needed with the form-horizontal -->
        </form>
        <p>Note: label text will occupy as much space as the text takes regardless of the 
            column size, so be sure to validate your spacing.
        </p>
                </div><!--/span-->

    </div><!--/row-->

</div><!-- /.container -->